src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="c7ac679c-becc-4f70-9459-1382570e7d0f" >
		<http:listener doc:name="Listener" doc:id="0818d2aa-da95-4f56-b1f2-20ad5c09a307" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMessage default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="serviceType" doc:id="d3416b2d-b368-4492-a291-8b331b56e9a1">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="94abf770-dd42-4827-a2a2-3185419f722d" message="Request Recieved for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="99b85aef-f8ec-4220-8c35-b7329a4ae76e" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="56396437-41fb-4005-af3a-1caad869b771" message="Routes Flow Called for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Routes" doc:id="62cf52d6-7c2c-4c13-ab06-64574cad895b" name="TravelOnTip-GetRoutes-implementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="9899ad0c-ad38-403c-bc09-2d5abbb22c19" message="Schedules Flow Called for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Schedules" doc:id="f06eb9ce-3ba3-4eca-a834-a91f0d3fffcc" name="TravelOnTip-GetSchedules-implementationSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="bc1d32e9-afcf-4b31-bc64-d1836015ab44" message="URI Parameter is not correct for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="ce1af966-b48b-450b-bab0-6445434718cf" message="Response Sent for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4aeec574-8f23-4f9e-81fc-e29a9a9ec76f" >
				<logger level="INFO" doc:name="Logger" doc:id="b58d0a26-e1bd-4cee-ae62-d73f0604d5eb" message="Error Occured for TravelOnTip External System for TransactionId: #[vars.transactionId] reason: #[error.errorMessage] error type: #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="63db0114-c2cd-48bb-823d-f98eb9b4c1ab" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/json
---
{
	"Error Message": "Error in TravelOnTip System"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
